---
import Layout from '../layouts/Layout.astro';
import PersonGroup from '../components/people/PersonGroup.astro';
import { getAllEntriesOfContentType } from "../services/contentful";

const people = await getAllEntriesOfContentType('member');
---

<Layout title="DSSD Madison - People">
    <main>
      <PersonGroup title="Board Members" people={people} filter={(person) => !person.fields.graduated && person.fields.role.localeCompare("Member") != 0} />
      <PersonGroup title="Members" people={people} filter={(person) => !person.fields.graduated && person.fields.role.localeCompare("Member") == 0} darker={true} hideRoles={true}/>
      <PersonGroup title="Alumni" people={people} filter={(person) => person.fields.graduated} />
    </main>
</Layout>