---
import ContactButton from './ContactButton.astro';

const {data, id, hideRole} = Astro.props;

let img;
if (data.photo) {
    img = data.photo.fields.file.url;
}
---

<div class="my-4 mx-10 p-5 pb-20 shadow-xl rounded-xl basis-56 min-h-80 flex flex-col gray-1 bg-slate-200 text-center relative" id={id}>
    <img class="h-40 inline-block py-auto self-center m-2 rounded-full aspect-square object-cover" src={img ? img : "/people/no-user-img.svg"} alt={data.fullName + "'s profile image"}>
    <div>
        <p class="text-2xl my-1">{data.fullName}</p>
        {!hideRole && <p class="text-xl my-1">{data.graduated && "Former"} {data.role}</p>}
    </div>
    <div class="absolute bottom-0 left-0 right-0 p-5">
        {data.linkedIn && <ContactButton href={data.linkedIn} target="_blank" img="/people/linkedin.svg" alt="View LinkedIn" />}
        {data.email && <ContactButton href={"mailto:" + data.email} target="_blank" img="/people/email.svg" alt="Send Email" />}
        {data.personalWebsite && <ContactButton href={data.personalWebsite} target="_blank" img="/people/external-website.svg" alt="View Personal Website" />}
    </div>
</div>